<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" href="css/public.css">
</head>

<body>
<section id="todoapp">
    <header class="header">
        <h1>todos</h1>
        <div class="header-content">
            <label class="toggle opacity" @click="CheckAll" v-if="triangle">❯</label>
            <input type="text" placeholder="What needs to be done?" v-focus class="new-todo" @keyup.enter="Add()"
                   v-model="work">
        </div>
    </header>
    <section class="main">
        <transition-group tag="ul" class="ul" v-cloak>
            <li v-for="(list, i) in lists" :key="list.id" class="edit">
                <i @click="Show(i)">
                    <img src="images/下载.svg" ref='img' @click.stop="MovePic(i)">
                </i>
                <div v-cloak @dblclick="ReWrite(i)">{{list.work}}</div>
                <input type="text" v-model="re"  @blur="blur(i)" v-focus>
                <span @click="Del(i)">X</span>
                <footer class="footer" v-if="length == (i+1)">
                    <div class="footer-nav">
                        <ul class="nav-ul">
                            <li v-cloak>{{number| pad()}} items left</li>
                            <li class="all"><a href="#" @click.stop="ShowAll">All</a></li>
                            <li><a href="#" @click.stop="ShowActive">Active</a></li>
                            <li class="complete"><a href="#" @click.stop="ShowComplete">Complete</a></li>
                            <li><a href="#" @click.stop="ClearCompleted">Clear completed</a></li>
                        </ul>
                    </div>
                </footer>
            </li>
        </transition-group>
    </section>
</section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="#">Haohan Fei</a></p>
    <p>Part of <a href="#">TodoMVC</a></p>
</footer>
<script src="js/vue.js"></script>
<script src="js/jquery-1.10.2.min_65682a2.js"></script>
<script src="js/public.js"></script>

</body>

</html>