<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>CoachInfoServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.CoachInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachInfoServlet</servlet-name>
    <url-pattern>/CoachInfoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	    <servlet-name>dwr</servlet-name>
	    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
	    <init-param>
             <param-name>debug</param-name>
             <param-value>true</param-value>
         </init-param>
	</servlet>
	
  	<servlet-mapping>
	    <servlet-name>dwr</servlet-name>
	    <url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
	 <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
    </servlet>


  <servlet>
    <servlet-name>TableServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.TableServlet</servlet-class>
  </servlet>


    
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TableServlet</servlet-name>
    <url-pattern>/TableServlet</url-pattern>
  </servlet-mapping> 
  
  
    <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.MemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CardInfoServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.CardInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckCoachServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.CheckCoachServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>CoachInfoServlet</servlet-name>
    <url-pattern>/CoachInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/MemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CardInfoServlet</servlet-name>
    <url-pattern>/CardInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCoachServlet</servlet-name>
    <url-pattern>/CheckCoachServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>CheckMemberServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.CheckMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SellCardServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.SellCardServlet</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>CheckMemberServlet</servlet-name>
    <url-pattern>/CheckMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellCardServlet</servlet-name>
    <url-pattern>/SellCardServlet</url-pattern>
  </servlet-mapping>
  
  
  	 <servlet>
        <servlet-name>img</servlet-name>
        <servlet-class>com.csu.gymms.util.AuthImg</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>img</servlet-name>
     <url-pattern>/authImg</url-pattern>
    </servlet-mapping>
  
   <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.LoginServlet</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UserModiyInfoServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.UserModiyInfoServlet</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>UserModiyInfoServlet</servlet-name>
    <url-pattern>/UserModiyInfoServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PurchaseTrainerServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.PurchaseTrainerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseTrainerServlet</servlet-name>
    <url-pattern>/PurchaseTrainerServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ShowEmailServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.ShowEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCardInfoServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.CheckCardInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OperateDateServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.OperateDateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllDeleteServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.AllDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserBulkDeleteServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.UserBulkDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CoachPhotoServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.CoachPhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FieldInfoServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.FieldInfoServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>ShowEmailServlet</servlet-name>
    <url-pattern>/ShowEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCardInfoServlet</servlet-name>
    <url-pattern>/CheckCardInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperateDateServlet</servlet-name>
    <url-pattern>/OperateDateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllDeleteServlet</servlet-name>
    <url-pattern>/AllDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserBulkDeleteServlet</servlet-name>
    <url-pattern>/UserBulkDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CoachPhotoServlet</servlet-name>
    <url-pattern>/CoachPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FieldInfoServlet</servlet-name>
    <url-pattern>/FieldInfoServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>DeviceServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.DeviceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceServlet</servlet-name>
    <url-pattern>/DeviceServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SendEmailServelt</servlet-name>
    <servlet-class>com.csu.gymms.servlet.SendEmailServelt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowEmailCountServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.ShowEmailCountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailOperateServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.EmailOperateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FieldPhotoServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.FieldPhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VisitServlet</servlet-name>
    <servlet-class>com.csu.gymms.servlet.VisitServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>SendEmailServelt</servlet-name>
    <url-pattern>/SendEmailServelt</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>EmailOperateServlet</servlet-name>
    <url-pattern>/EmailOperateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowEmailCountServlet</servlet-name>
    <url-pattern>/ShowEmailCountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FieldPhotoServlet</servlet-name>
    <url-pattern>/FieldPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VisitServlet</servlet-name>
    <url-pattern>/VisitServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
